<div class="sidebar">

    <div class="logo">

        <h2>PMS</h2>

        <small>Admin Panel</small>

    </div>

    <ul>

        <li routerLink="/dashboard" routerLinkActive="active">

            <i class="bi bi-speedometer2"></i>

            Dashboard

        </li>

        <li routerLink="/categories" routerLinkActive="active">

            <i class="bi bi-folder"></i>

            Categories

        </li>

        <li routerLink="/products" routerLinkActive="active">

            <i class="bi bi-box"></i>

            Products

        </li>

        <li>

            <i class="bi bi-file-earmark-excel"></i>

            Export Excel

        </li>

    </ul>

</div>